<div class="register-card">
    <mat-card-title class="title">
        <strong>Datos del usuario</strong>
    </mat-card-title>
    <mat-card-content>
        <form class="register-form" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
           <mat-form-field appearance="fill" class="full-width">
            <mat-label>Cedula</mat-label>
            <input type="text" matInput formControlName="cedula">
            <mat-error *ngIf="formGroup.get('cedula')?.hasError('required')">La cedula es obligatorio></mat-error>
            <mat-error *ngIf="formGroup.get('cedula')?.hasError('pattern')">Caracter no valido. Solo se permiten numeros de 10 digitos</mat-error>
        </mat-form-field> 
           <app-form controlKey="dataPerson"></app-form>
           <div class="form-buttons">
            <button mat-raised-button color="primary" type="submit">
                Guardar
            </button>
            <button mat-raised-button color="warn" type="reset">
                Cancelar
            </button>
           </div>
        </form>
    </mat-card-content>
</div>