<mat-tab-group>
    <mat-tab label="Registro de las Reservas de Instalaciones Finalizadas">
        <div class="search-container">
            <!-- Contenedor para los campos de búsqueda --> 
                  <div class="search-fields" [formGroup]="form">
                    <mat-form-field class="search-field">
                      <mat-label>Buscar por nombre del usuario</mat-label>
                      <input 
                        matInput 
                        type="search" 
                        formControlName="Nombre_Apellido_Instalacion" 
                        #InputNombre_I
                        (keyup)="search_Nombre_I(InputNombre_I)">
                    </mat-form-field>
                    <mat-form-field class="search-field">
                      <mat-label>Buscar por el apellido del usuario</mat-label>
                      <input 
                        matInput 
                        type="search" 
                        formControlName="Nombre_Apellido_Instalacion" 
                        #InputApellido_I
                        (keyup)="search_Apellido_I(InputApellido_I)">
                    </mat-form-field>
                    
                    <mat-form-field class="search-field">
                      <mat-label>Buscar por la instalacion</mat-label>
                      <input 
                        matInput 
                        type="search" 
                        formControlName="Nombre_Apellido_Instalacion" 
                        #InputInst
                        (keyup)="search_Inst(InputInst)">
                    </mat-form-field>

                  </div>              
        </div>
        <app-table [titulo]="title_i" [columnas]="columns_I" [datos]="installList"></app-table>
    </mat-tab>
    <mat-tab label="Registro de las Reservas de Herramientas Finalizadas">
        <div class="search-container">
            <!-- Contenedor para los campos de búsqueda --> 
                  <div class="search-fields" [formGroup]="form">
                    <mat-form-field class="search-field">
                      <mat-label>Buscar por nombre del usuario</mat-label>
                      <input 
                        matInput 
                        type="search" 
                        formControlName="Nombre_Apellido_Herramienta" 
                        #InputNombre_H
                        (keyup)="search_Nombre_H(InputNombre_H)">
                    </mat-form-field>
                    <mat-form-field class="search-field">
                      <mat-label>Buscar por el apellido del usuario</mat-label>
                      <input 
                        matInput 
                        type="search" 
                        formControlName="Nombre_Apellido_Herramienta" 
                        #InputApellido_H 
                        (keyup)="search_Apellido_H(InputApellido_H)">
                    </mat-form-field>

                    <mat-form-field class="search-field">
                      <mat-label>Buscar por la Herramienta</mat-label>
                      <input 
                        matInput 
                        type="search" 
                        formControlName="Nombre_Apellido_Herramienta" 
                        #InputHer
                        (keyup)="search_Herr(InputHer)">
                    </mat-form-field>

                  </div>              
        </div>
        <app-table [titulo]="title_h" [columnas]="columns_H" [datos]="herrList"></app-table>
    </mat-tab>
</mat-tab-group>

