<mat-tab-group>
    <mat-tab label="Registro de las Reservas de Instalaciones Finalizadas">
        <div class="search-container">
            <!-- Contenedor para los campos de búsqueda --> 
                  <div class="search-fields" [formGroup]="form">
                    <mat-form-field class="search-field">
                      <mat-label>Buscar por nombre del usuario</mat-label>
                      <input 
                        matInput 
                        type="search" 
                        formControlName="Nombre_Apellido_Instalacion" 
                        
                        #InputNombre 
                        (keyup)="search_Nombre(InputNombre)">
                    </mat-form-field>
                    <mat-form-field class="search-field">
                      <mat-label>Buscar por el apellido del usuario</mat-label>
                      <input 
                        matInput 
                        type="search" 
                        formControlName="Nombre_Apellido_Instalacion" 
                        #InputApellido 
                        (keyup)="search_Apellido(InputApellido)">
                    </mat-form-field>
                    
                  </div>              
        </div>
        <app-table [titulo]="title" [columnas]="columns" [datos]="installList"></app-table>
    </mat-tab>
    <mat-tab label="Registro de las Reservas de Herramientas Finalizadas">
        <div class="search-container">
            <!-- Contenedor para los campos de búsqueda --> 
                  <div class="search-fields" [formGroup]="form">
                    <mat-form-field class="search-field">
                      <mat-label>Buscar por nombre del usuario</mat-label>
                      <input 
                        matInput 
                        type="search" 
                        formControlName="Nombre_Apellido_Instalacion" 
                        #InputNombre 
                        (keyup)="search_Nombre(InputNombre)">
                    </mat-form-field>
                    <mat-form-field class="search-field">
                      <mat-label>Buscar por el apellido del usuario</mat-label>
                      <input 
                        matInput 
                        type="search" 
                        formControlName="Nombre_Apellido_Instalacion" 
                        #InputApellido 
                        (keyup)="search_Apellido(InputApellido)">
                    </mat-form-field>
                  </div>              
        </div>
        <app-table [titulo]="title" [columnas]="columns" [datos]="herrList"></app-table>
    </mat-tab>
</mat-tab-group>

