.table-section {
    width: 100%;
    max-width: 1000vh;
    margin: 20px auto;
    padding: 50px;
    text-align: center;
    align-items: center;
}
.buttons{
    padding-left: 50px;
    padding-top: 30px;
    margin: 20px;
}
h1{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 3rem;
}

.search-container {
    display: flex;
    align-items: center;
    margin: 0; 
    padding-left: 60px;
    padding-top: 30px; 
}

.search-container mat-form-field {
    flex: 1; 
    max-width: 400px; 
    width: 100%; 
}