<div class="buttons">
    <h1><strong>Instalaciones</strong></h1>
    <!-- <button mat-flat-button (click)="openInstallForm()"><mat-icon>add</mat-icon>Nuevo</button> -->
    <!-- <button mat-raised-button color="accent" (click)="openDialog(InstallationFormComponent)">Nuevo</button> -->
    <button mat-flat-button color="accent" 
    (click)="openDialog()">
    <mat-icon>add</mat-icon>
        Nuevo
    </button>
</div>

<div class="search-container">
    <mat-form-field>
        <mat-label>Buscar: nombre, tipo, capacidad, descripcion, dia o disponibilidad</mat-label>
        <input matInput type="search" appOnlyAllowedCharacters placeholder="..." #searchInput
        (keyup)="search(searchInput)"/>
    </mat-form-field>
    <button mat-raised-button (click)="search(searchInput)">Buscar</button>
</div>

<div class="table-section">
    <app-table [titulo]="title" [columnas]="columns" [datos]="installList" (action)="onAction($event)"></app-table>
</div>