.register-card mat-form-field {
    display: block;  /* Asegura que cada formulario ocupe su propia línea */
    margin-bottom: 16px;  /* Espaciado entre los campos del formulario */
    width: 100%;  /* Asegura que los campos ocupen todo el ancho del contenedor */
    border-color: black;
    border: 25px;
}

/* Opcional: estilo para el contenedor del formulario si deseas agregar más espaciado */
.register-card {
    padding: 30px;
    max-width: 600px; /* Limitar el ancho de la tarjeta */
    margin: 0 auto; /* Centrar la tarjeta en la página */
}
/* Ajustar el estilo de la tarjeta para que se vea mejor */
mat-card {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Ajustar la apariencia del título */
.register-card mat-card-title {
    font-size: 20px;
    text-align: center;
    white-space: inherit;
    margin-bottom: 50vh; /* Ajusta el espaciado entre el título y los demás elementos */
}
button:last-child{
    margin-left: 4%;
}
button{
    padding: 10px 20px;
    font-size: 16px;
    width: 48%;
}
.table-section {
    width: 100%;
    max-width: 1000vh;
    margin: 20px auto;
    padding: 50px;
    text-align: center;
    align-items: center;
}

.action-buttons {
    margin-top: 21px;
    margin-bottom: 21px;
     /* Activa flexbox para la celda */
    align-items: center; /* Alinea verticalmente los elementos */
    justify-content: center; /* Alinea los botones al inicio (izquierda) */
    gap: 20px; /* Espaciado horizontal entre los botones */
}

.action-buttons button {
    /* display: inline-flex; 
    align-items: center; 
    justify-content: center; 
    cursor: pointer; */
    display: inline-flexbox;
    align-items: center; 
    justify-content: center; 
    padding: 10px 5px; /* Tamaño del botón */
    
    border: none; /* Sin bordes */
    border-radius: 4px; /* Bordes redondeados */
    font-size: 14px; /* Tamaño del texto */
    transition: all 0.3s ease; /* Transiciones suaves */
    cursor: pointer; /* Indica que es clickeable */
}
.action-buttons button:hover {
    background-color: #0056b3; /* Cambia el color de fondo */
    color: #e6e6e6; /* Cambia el color del texto */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); /* Sombra más intensa */
    transform: translateY(-4px); /* Levanta más el botón */
}

.action-buttons button:active {
    transform: translateY(0); /* Restaura la posición al hacer clic */
    background-color: #003f7f; /* Color más oscuro al presionar */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4); /* Sombra más tenue */
}
.search-fields {
    display: flex;
    justify-content: space-between; /* Espaciado entre los campos */
  }
  
  .search-field {
    width: 45%; /* Ajusta el tamaño de los campos */
  }