.mat-form-field .mat-label {
    font-weight: bold;
}
.mat-card-content{
    display: flex;
  flex-direction: column;
}
.register-card{
    
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    border-radius: 8px;
    background-color: #f9f9f9;
}
.full-width{
    width: 100%;
}
button:last-child{
    margin-left: 4%;
}
button{
    padding: 10px 20px;
    font-size: 16px;
    width: 48%;
}
.title{
    margin-top: 5px;
    margin-bottom: 15px;
    margin-left: 15px;
    background-color: #f9f9f9;
}