.table-section {
    width: 100%;
    max-width: 1000vh;
    margin: 20px auto;
    padding: 50px;
}
.buttons{
    padding-left: 50px;
    padding-top: 30px;
}
h1{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 3rem;
}