.table-section {
    margin-top: -30px; 
    margin-left: 20px; 
    margin-right: 20px; 
    margin-bottom: 20px; 
    width: 100%;
    max-width: 1000vh;
    padding: 50px; 
    text-align: center;
    align-items: center;
}

.buttons {
    padding-left: 50px;
    padding-top: 30px;
    margin: 20px;
}

h1 {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 3rem;
}

.custom-dialog-container {
    padding: 20px; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    max-height: 90vh; 
    overflow: auto; 
}

.search-container {
    display: flex;
    align-items: center;
    margin: 0; 
    padding-left: 60px;
    padding-top: 30px; 
}

.search-container mat-form-field {
    flex: 1; 
    max-width: 400px; 
    width: 100%; 
}
