/* 
.bienvenida {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #f4f4f4;
    padding: 20px;
    border-bottom: 1px solid #ddd;
  }
  
  .bienvenida img {
    width: 120px;
    margin-bottom: 10px;
  }
  
  .bienvenida h1 {
    font-size: 2.5em;
    margin: 10px 0;
    color: #00695c;
  }
  
  .bienvenida p {
    padding: 20px;
    font-size: 18px;
    color: #555;
  }
  
  
  .cartas-prese {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 30px;
    background-color: #ffffff;
  }
  
  .card {
    text-align: center;
    width: 250px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  }
  
  .card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-bottom: 2px solid #ddd;
  }
  
  .card h3 {
    padding: 15px 0;
    font-size: 18px;
    color: #333;
    background-color: #fafafa;
  } */
  .main-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    max-width: 1600px;
    margin: 0 auto;
}
  .bienvenida{
  flex: 1;
  padding: 20px;
  max-width: 600px;
  margin: auto 0;
  align-items: center;
  text-align: center;
}
.bienvenida h2{
  font-size: 50px;
  margin-bottom: 10px;
  color: #333;
}
.bienvenida img{
  width: 100px;
  margin: 0 auto;
}
.bienvenida p{
  font-size: 18px;
  color: #666;
}
.cards {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
  justify-content: center;
}
.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  padding: 15px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  background-color: white;
  transition: transform 0.3s,box-shadow 0.3s;
}
.card:hover{
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}
.card h3{
  font-size: 18px;
  margin: 15px 0;
}
.card img{
  display: block;
  margin: auto;
  text-align: center;
}
.card button{
  margin-top: 10px;
}
@media (max-width:768px){
  .main-content{
    flex-direction: column;
    align-items: center;
  }
  .bienvenida{
    padding-right: 0;
    margin-bottom: 20px;
    text-align: center;
  }
}
