<app-notification *ngIf="notification.message" [message]="notification.message" [type]="notification.type"></app-notification>
<mat-tab-group [(selectedIndex)]="selectedTab">
    <mat-tab label="Reservar Herramienta">
        <div class="register-card">
            <mat-card-title class="title">
                <strong>Datos de la Reserva de Herramientas</strong>
            </mat-card-title>
            <mat-card-content>
                <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
        
                    <mat-form-field appearance="fill" class="full-width">
                        <mat-label>Usuario</mat-label>
                        <mat-select formControlName="usuario">
                            <mat-option value="" disabled="">Seleccione..</mat-option>
                            <mat-option *ngFor="let user of usuarios;" [value]="user">
                                {{user.nombre}}
                                {{user.apellido}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
        
                    <mat-form-field appearance="fill" class="full-width">
                        <mat-label>Herramienta</mat-label>
                        <mat-select formControlName="herramienta">
                          <mat-option value="" disabled>Seleccione..</mat-option>
                          <mat-option *ngFor="let herr of herramientas" [value]="herr">
                            {{herr.nombre}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                           
        
                    <mat-form-field appearance="fill" class="full-width">
                        <mat-label>Fecha</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="fecha">
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                    
                    <mat-form-field appearance="fill" class="full-width">
                        <mat-label>Dia:</mat-label>
                        <mat-select formControlName="dia">
                            <mat-option value="" disabled="">Seleccione...</mat-option>
                            <mat-option *ngFor="let dia of dias" [value]="dia.value">
                                {{dia.label}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    
                    <mat-form-field appearance="fill" class="full-width">
                        <mat-label>Seleccione hora inicio</mat-label>
                        <input matInput [matTimepicker]="pickerInicio" formControlName="hora_Inicio">
                        <mat-timepicker-toggle matIconSuffix [for]="pickerInicio"/>
                        <mat-timepicker #pickerInicio/>
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="full-width">
                        <mat-label>Seleccione hora fin</mat-label>
                        <input matInput [matTimepicker]="pickerFin" formControlName="hora_Fin">
                        <mat-timepicker-toggle matIconSuffix [for]="pickerFin"/>
                        <mat-timepicker #pickerFin/>
                    </mat-form-field>

                    <mat-form-field appearance="fill" class="full-width">
                        <mat-label>Estado</mat-label>
                        <mat-select formControlName="estado">
                            <mat-option value="" disabled="">Seleccione...</mat-option>
                            <mat-option *ngFor="let item of items" [value]="item.value">
                                {{item.label}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <div class="form-buttons">
                        <button mat-raised-button color="primary" type="submit">
                          Guardar
                        </button>
                        <button mat-raised-button color="warn" type="reset" (click)="close()">
                          Cancelar
                        </button>
                      </div>
                </form>
            </mat-card-content>
        </div>
    </mat-tab>
    <mat-tab label="Registros" >
        <div class="search-container">
            <div class="search-container">
                <div class="search-fields" [formGroup]="formGroup">
                  <mat-form-field class="search-field">
                    <mat-label>Buscar por nombre del usuario</mat-label>
                    <input 
                      matInput 
                      type="search" 
                      
                      
                      #InputNombre 
                      (keyup)="search_Nombre(InputNombre)">
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>Buscar por el apellido del usuario</mat-label>
                    <input 
                      matInput 
                      type="search" 
                      
                      #InputApellido 
                      (keyup)="search_Apellido(InputApellido)">
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label>Buscar por la instalacion</mat-label>
                    <input 
                      matInput 
                      type="search" 
                      
                      #InputInst
                      (keyup)="search_Inst(InputInst)">
                  </mat-form-field>
                </div>
            </div> 
        </div>
        <div class="table-section">
            <app-table [title]="title" [columnas]="columns" [datos]="HerrllList" (action)="onAction($event)"></app-table>
        </div>
        
    </mat-tab>
</mat-tab-group>
