<div class="search-bar">
  <mat-form-field appearance="fill" class="full-width">
    <mat-label>Buscar Usuario</mat-label>
    <input matInput placeholder="Escribe el nombre, cédula o apellido" 
    #input
    (keyup)="search_Inst(input)"/>
  </mat-form-field>
</div>

<div class="buttons">
    <h1><strong>{{ title }}</strong></h1>
    <button mat-flat-button color="accent" (click)="openDialog()">
      <mat-icon>add</mat-icon>
      Nuevo
    </button>
  </div>

  <div class="table-section">
    <app-table 
      [titulo]="title" 
      [columnas]="columns" 
      [datos]="userList" 
      (action)="onAction($event)">
    </app-table>
  </div>
  