<mat-card class="register-card">
  <mat-card-title class="title">
    <strong>Datos de la Instalacion</strong>
  </mat-card-title>
  <mat-card-content>
    <form class="register-form" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
      <!--Instalacion-->
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="nombre" type="text" >
        <mat-error *ngIf="formGroup.get('nombre')?.hasError('required')">El nombre es obligatorio</mat-error>
        <mat-error *ngIf="formGroup.get('nombre')?.hasError('minlength')">El valor mínimo permitido es de tres caracteres</mat-error>
        <mat-error *ngIf="formGroup.get('nombre')?.hasError('pattern')">Solo puede contener letras y espacios</mat-error>
      </mat-form-field>
      <!--Tipo-->
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Tipo</mat-label>
        <input matInput type="text" formControlName="tipo">
        <mat-error *ngIf="formGroup.get('tipo')?.hasError('required')">El tipo es obligatorio</mat-error>
        <mat-error *ngIf="formGroup.get('tipo')?.hasError('minlength')">El valor mínimo permitido es de tres caracteres</mat-error>
        <mat-error *ngIf="formGroup.get('tipo')?.hasError('pattern')">Solo puede contener letras y espacios</mat-error>
      </mat-form-field>
      <!--Capacidad-->
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Capacidad</mat-label>
        <input matInput type="number" formControlName="capacidad">
        <mat-error *ngIf="formGroup.get('capacidad')?.hasError('required')">
          La cantidad es obligatoria
      </mat-error>
      <mat-error *ngIf="formGroup.get('capacidad')?.hasError('pattern')">
        Solo se permiten números
    </mat-error>
      </mat-form-field>
      <!--Descripcion-->
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Descripcion</mat-label>
        <input matInput type="text" formControlName="descripcion">
        <mat-error *ngIf="formGroup.get('descripcion')?.hasError('required')">La descripcion es obligatorio</mat-error>
        <mat-error *ngIf="formGroup.get('descripcion')?.hasError('minlength')">El valor mínimo permitido es de tres caracteres</mat-error>
        <mat-error *ngIf="formGroup.get('descripcion')?.hasError('maxlength')">La descripción no puede superar los 100 caracteres</mat-error>
        <mat-error *ngIf="formGroup.get('descripcion')?.hasError('pattern')">Solo puede contener letras y espacios</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Dia</mat-label>
        <mat-select formControlName="dia">   
            <mat-option value="" disabled>Seleccione...</mat-option>
            <mat-option *ngFor="let dia of dias" [value]="dia.value">
                {{dia.label}}
            </mat-option>
        </mat-select>
        <mat-error *ngIf="formGroup.get('dia')?.hasError('required')">
          El dia es obligatorio
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Seleccione hora inicio</mat-label>
        <input matInput [matTimepicker]="pickerInicio" formControlName="horaInicio">
        <mat-timepicker-toggle matIconSuffix [for]="pickerInicio"/>
        <mat-timepicker #pickerInicio/>
        <mat-error *ngIf="formGroup.get('horaInicio')?.hasError('required')">
          La hora de inicio es obligatorio
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
        <mat-label>Seleccione hora fin</mat-label>
        <input matInput [matTimepicker]="pickerFin" formControlName="horaFin">
        <mat-timepicker-toggle matIconSuffix [for]="pickerFin"/>
        <mat-timepicker #pickerFin/>
        <mat-error *ngIf="formGroup.get('horaFin')?.hasError('required')">
          La hora final es obligatorio
      </mat-error>
    </mat-form-field>

      <div class="formElement">
        <mat-label>Estado: </mat-label>
        <mat-radio-group aria-label="Seleccione la opción" formControlName="disponibilidad">
          <mat-radio-button [value]="true">Disponible</mat-radio-button>
          <mat-radio-button [value]="false">Sin disponibilidad</mat-radio-button>
        </mat-radio-group>
        <mat-error *ngIf="submitted && formGroup.get('disponibilidad')?.hasError('required')">
            Seleccionar un estado es obligatorio
          </mat-error>
    </div>


      <div class="form-buttons">
        <button mat-raised-button color="primary" type="submit">
          Guardar
        </button>
        <button mat-raised-button color="warn" type="reset" (click)="close()">
          Cancelar
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
